body {
  font-family: "Roboto", sans-serif;
  height: 200px;
  /* background-color: #fff123; */
  /* background-color: "yellow"; */
  /* color: "green"; */
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
}

#searchBar {
  margin: 0;
  display: flex;
  /* background-color: aqua; */
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 8px #ddd;
}

header > h1 {
  padding-left: 15px;
  /* background-color: green; */
  font-size: 1.5em;
}

header > nav {
  /* background-color: red; */
  display: flex;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 25px;
}

header > nav > ul > li {
  list-style: none;
  margin-left: 15px;
}

header a:hover {
  color: #b2dfdb;
}

/* Material form styles */
.material-form {
  display: flex;
  align-items: center;
}

.material-input {
  border: none;
  border-bottom: 2px solid #2196f3;
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 16px;
  transition: border-bottom-color 0.3s ease;
}

.material-input:focus {
  outline: none;
  border-bottom-color: #ffc107;
}

.material-button {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.material-button:hover {
  background-color: #1976d2;
}

body > main > div > article {
  margin-left: 15px;
  /* background-color: red; */
}

body > main > div > aside {
  margin: 25px;
}

body > main > div > aside > img {
  max-height: 500px;
}

#footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
  flex-shrink: 0; 
}

footer p {
  text-align: center;
  font-size: 16px;
}

#main-container {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto; 
}

body > main {
  display: flex;
  flex-direction: column;
}

/* MODAL */

.modal {
  display: none;
  z-index: 1;
}