body {
    font-family: "Roboto", sans-serif;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

body main {
    display: flex;
}

body main aside.tags {
    position: fixed;
    top: 7em;
    max-width: 7em;
    margin-left: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body main aside.tags ul {
    padding: 0;
    padding-left: 15px;
}

body main aside.tags ul li {
    list-style-type: none;
    margin-top: 1em;
    font-weight: bold;
}

body main article {
    margin-left: 7em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body main aside.ad {
    max-width: 8em;
    margin-right: 1em;
}

body main aside.ad img {
    padding-top: 2em;
}

body main article {
    padding-left: 10em;
    padding-right: 10em;
}

body main article div.post {
    margin-top: 3em;
}

/* NAV BAR */


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

header h1 {
    flex: 3;
}

header form {
    margin: 0;
    flex: 3;
    display: flex;
}

header nav {
    flex: 4;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul li {
    list-style-type: none;
    min-width: 5em;
}

input[type="search"],
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    margin-right: 10px;
}

input[type="search"] {
    background-color: #f5f5f5;
    width: 250px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* NAV BAR END */

/* OPTIMIZATION FOR MOBILE */

@media only screen and (max-width: 800px) {
    
    /* ARTICLE  */
    body main aside.tags {
        display: none;
    }

    body main aside.ad {
        display: none;
    }

    body main article {
        padding-left: unset;
        padding-right: unset;
        margin-left: 1em;
        margin-right: 1em;
    }

    /* HEADER */

    header {
        padding: 0;
    }

    header h1 {
        padding-left: 5px;
    }

    header nav ul li {
        min-width: unset;
        margin-left: 5px;
        padding: 0;
    }

    header h1 {
        flex: unset;
    }
    
    header form {
        flex: unset;
    }

    header nav {
        flex: unset;
    }

    header nav ul {
        padding: 0;
    }
  }